
require 'date'
require 'fileutils'

XCODEBUILD_PATH = '/Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild'

task :default => 'ios:run'

namespace :ios do
  
  desc 'Deletes the compiled code.'
  task :clean do
    puts 'Cleaning previous builds'
    FileUtils.rm_rf('build')
    sh "cd ./code/{{name}} && #{XCODEBUILD_PATH} -alltargets clean"
  end   

  {{#targets}}
  desc 'Compiles the {{name}} target using the Debug configuration.'
  task :compile_{{name}} => [:clean] do
    puts 'Compiling App in Debug scheme'
    sh "cd code/Teemo && #{XCODEBUILD_PATH} -target {{name}} -sdk iphonesimulator -configuration Debug"
  end  
  

  desc 'Compiles the {{name}} target using the Release configuration.'
  task :release_{{name}} => [:clean] do
    puts 'Compiling app for Release'
    sh "cd ./code/Teemo && #{XCODEBUILD_PATH} -target {{name}} -configuration Release"
  end


  {{/targets}}
 
  
  
